<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../nuevosJs/clientForm.js"></script>  
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Bienvenido a CabinRent</h1>
    </header>
    <h2>Nuevo cliente <button id="client_details">detalles</button></h2>
    <form method="POST">
        <label for="id_client">ID cliente</label>
        <input type="number" id="id_client" name="id_client">

        <label for="name">Nombre</label>
        <input type="text" id="name" name="name">

        <label for="email">Email</label>
        <input type="text" id="email" name="email">

        <label for="age">Edad</label>
        <input type="number" id="age" name="age">

        <button type="submit" name="submitClient" id="submitClient">Nuevo</button>
        <button type="submit" name="updateClient" id="updateClient">Actualizar</button>
    </form>

    <table id="table_client">

    </table>
</body>
</html>