<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../nuevosJs/messageForm.js"></script>  
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Bienvenido a CabinRent</h1>
    </header>
    <h2>Nuevo mensaje <button id="message_details">detalles</button></h2>
    <form method="POST">
        <label for="id">Id del mensaje</label>
        <input type="number" id="id_message" name="id_message">
        <label for="messagetext"> texto del mensaje</label>
        <input type="text" id="messagetext" name="messagetext">
        <button id="submitMessage" type="submit">Nuevo</button>
        <button id="actualizarMessage" type="submit">Actualizar</button>

        <table id="table_message">
        </table>
    </form>
</body>
</html>
